body {
    background: #222222;
    padding: 0;
    margin: 0;
    font-weight: bold;
    overflow: hidden;
}

#info {
    /* position: absolute; */
    top: 0px;
    width: 100%;
    color: #ffffff;
    padding: 5px;
    font-family: Monospace;
    font-size: 13px;
    text-align: center;
    z-index: 1000;
}

a {
    color: #00ffff;
}
